<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/nav-bar.css">
    <link rel="stylesheet" href="/css/form-add-user.css">
    <link rel="stylesheet" href="/css/table-list-user.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">Create Users</a>
        <a class="active" href="/upload">Upload file</a>
    </div>
    <form method="POST" action="/upload-profile-pic" enctype="multipart/form-data">
        <div>
            <label>Select your profile picture:</label>
            <input type="file" name="profile_pic" />
        </div>
        <div>
            <input type="submit" name="btn_upload_profile_pic" value="Upload" />
        </div>
    </form>
    <br>
    <form method="POST" action="/upload-multiple-images" enctype="multipart/form-data">
        <div>
            <label>Select multiple images:</label>
            <input type="file" name="multiple_images" multiple />
        </div>
        <div>
            <input type="submit" name="btn_upload_multiple_images" value="Upload" />
        </div>
    </form>
    <script src="./javascript/handle.js"></script>
</body>

</html>